[submodule "hauntr"]
        path = hauntr
        url = https://github.com/kura/hauntr.git
[submodule "ghastly"]
	path = ghastly
	url = https://github.com/kura/ghastly.git
[submodule "variant-note"]
	path = pelican-variant-note
	url = git://github.com/mpancorbo/pelican-variant-note.git
[submodule "whispers"]
	path = whispersTheme
	url = git://github.com/deBorn/whispersTheme.git
