{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if page %}
            <header>
                <h1><a href="{{ SITEURL }}" id="site-title">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a> : <a href="{{ SITEURL }}/{{ page.url }}" id="page-title">{{ page.title }}</a></h1>
            </header>
            <article>
                {{ page.content }}{% include 'comments.html' %}
            </article>
{% else %}
            <header>
                <h1><a href="{{ SITEURL }}" id="site-title">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
            </header>            
{% endif %}

{% if articles %}
      <section id="article-list">
          <ol>
          {% for article in articles|sort(reverse=True,attribute='modified') %}
            <li>
              <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
              {% if not HIDE_DATE %}
                {% if article.modified is defined %}
                    <time datetime="{{ article.modified.isoformat()}}"> {{ article.locale_modified }}</time>
                {% else %}
                    <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                {% endif %}
              {% endif %}
            </li>
          {% endfor %}
          </ol>
      </section><!-- #article-list -->
{% else %}
    No posts found.
{% endif %}
{% endblock content %}
