{% extends "base.html" %}
{% block title %}{{ super() }} : {{ article.title|striptags }}{% endblock %}
{% block head %}
    {{ super() }}
    {% if article.tags is iterable %}
      {% for tag in article.tags %}
        <meta name="tags" content="{{tag}}" />
      {% endfor %}
    {% endif %}
{% endblock %}

{% block bodyclass %}detail{% endblock %}

{% block header %}
<header>
  <h2><a href="{{ SITEURL }}" id="site-title">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a> :
  </h2>
  <h1>
      <a href="{{ SITEURL }}/{{ article.url }}" id="page-title">{{ article.title }}</a>
  </h1>
  {% if article.rubric is defined %}
    <h3 class="article-rubric">{{ article.rubric }} </h3>
  {% endif %}
  {% if not HIDE_DATE %}
    <div class="article-date">
      <time class="created" datetime="{{ article.date.isoformat() }}">Created {{ article.locale_date }}</time>
      {% if article.modified is defined %}
        <time class="modified" datetime="{{ article.modified.isoformat()}}">/ Updated {{ article.locale_modified }}</time>
      {% endif %}
    </div>
  {% endif %}
</header>
{% endblock header %}

{% block canonical_rel %}
	<link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">
{% endblock %}

{% block content %}
<article >
    {{ article.content }}
    <nav>
    {% if article.tags is iterable %}
      <ul class="tags">
          {% for tag in article.tags|sort %}
            <li class="tag"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
          {% endfor %}
      </ol>
    {% else %}
      <p class="tags">Untagged</p>
    {% endif %}
    </nav>
</article>
{% include 'disqus_script.html' %}
{% endblock %}
