{% extends "base.html" %}
{% block header %}
<header>
{% if page %}
    <h2 id="site-title"><a href="{{ SITEURL }}" >{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a> :</h2>
    <h1 id="page-title">
        <a href="{{ SITEURL }}/{{ page.url }}" >{{ page.title|striptags }}</a>
    </h1>
{% else  %}
    <h1><a href="{{ SITEURL }}" id="site-title">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
{% endif  %}
</header>
{% endblock header %}

{% block canonical_rel %}<link rel="canonical" href="{{ SITEURL }}">{% endblock %}

{% block content %}

{% if page %}
            <article>
                {{ page.content }}
            </article>
{% endif %}

{% if articles %}
      <nav id="content-list">
          <ul>
          {% for article in articles|sort(reverse=True,attribute='modified') %}
            <li>
              <a class="article-link" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                <span class="article-title">{{ article.title }}</span>
                {% if article.description is defined %}
                — <span class="article-description">
                  [&nbsp;{{ article.description }}&nbsp;]
                </span>
                {% endif %}
              </a>
              {% if not HIDE_DATE %} —
              <div class="article-date">
                {% if article.modified is defined %}
                    <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>…<time datetime="{{ article.modified.isoformat()}}"> {{ article.locale_modified }}</time>
                {% else %}
                    <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                {% endif %}
              </div>
              {% endif %}
              {% if not HIDE_RATING %}
              <span class="ratings">
                <span class="rating usefulness">
                  {% for number in range(article.usefulness|default(0)+1) %}
                  🔧
                  {% endfor %}
                </span>
                <span class="rating novelty">
                  {% for number in range(article.novelty|default(0)+1) %}
                  💡
                  {% endfor %}
                </span>
                <span class="rating uncertainty">
                  {% for number in range(3-article.certainty|default(0)) %}
                  🤪
                  {% endfor %}
                </span>
                <span class="rating incompleteness">
                  {% for number in range(3-article.completeness|default(0)) %}
                  🚧
                  {% endfor %}
                </span>
              </span>
              {% endif %}
            </li>
          {% endfor %}
          </ol>
      </nav><!-- #content-list -->
{% else %}
    No posts found.
{% endif %}
{% endblock content %}
