{% extends "base.html" %}
{% block header %}
{% if page %}
    <h1><a href="{{ SITEURL }}" id="site-title">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a> :
        <a href="{{ SITEURL }}/{{ page.url }}" id="page-title">{{ page.title|striptags }}</a></h1>
{% else  %}
    <h1><a href="{{ SITEURL }}" id="site-title">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
{% endif  %}
{% endblock header %}

{% block content %}

{% if page %}
            <article>
                {{ page.content }}
            </article>
{% endif %}

{% if articles %}
      <nav id="article-list">
          <ul>
          {% for article in articles|sort(reverse=True,attribute='modified') %}
            <li>
              <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
              {% if not HIDE_DATE %} — 
                {% if article.modified is defined %}
                    <time datetime="{{ article.modified.isoformat()}}"> {{ article.locale_modified }}</time>
                {% else %}
                    <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                {% endif %}
              {% endif %}
            </li>
          {% endfor %}
          </ol>
      </nav><!-- #article-list -->
{% else %}
    No posts found.
{% endif %}
{% endblock content %}
